:root {
  --visualglitch91-fontFamily: Fira Sans;
  --visualglitch91-fontFamilyMono: Fira Mono;
  --visualglitch91-colors-background: #282a36;
  --visualglitch91-colors-text: #f8f8f2;
  --visualglitch91-colors-primary: #a4ffff;
  --visualglitch91-colors-secondary: #69ff94;
  --visualglitch91-colors-accent: #e06c75;
  --visualglitch91-colors-backgroundLighter: #343746;
  --visualglitch91-colors-backgroundLight: #2E303E;
  --visualglitch91-colors-backgroundDark: #22242E;
  --visualglitch91-colors-backgroundDarker: #1C1D26;
  --visualglitch91-colors-textLighter: #FFFFFF;
  --visualglitch91-colors-textLight: #FFFFFF;
  --visualglitch91-colors-textDark: #DEDEC2;
  --visualglitch91-colors-textDarker: #C5C592;
  --visualglitch91-colors-primaryLighter: #FFFFFF;
  --visualglitch91-colors-primaryLight: #E3FFFF;
  --visualglitch91-colors-primaryDark: #65FFFF;
  --visualglitch91-colors-primaryDarker: #26FFFF;
  --visualglitch91-colors-secondaryLighter: #D5FFE1;
  --visualglitch91-colors-secondaryLight: #9FFFBB;
  --visualglitch91-colors-secondaryDark: #33FF6D;
  --visualglitch91-colors-secondaryDarker: #00FC48;
  --visualglitch91-colors-accentLighter: #F1BEC2;
  --visualglitch91-colors-accentLight: #E9959C;
  --visualglitch91-colors-accentDark: #D7434E;
  --visualglitch91-colors-accentDarker: #C02834;
  --visualglitch91-apps-niri-colorScheme: prefer-dark;
  --visualglitch91-apps-niri-gtkTheme: Catppuccin-Macchiato;
  --visualglitch91-apps-niri-iconTheme: Yaru-magenta-dark;
  --visualglitch91-apps-niri-cursorTheme: Yaru;
  --visualglitch91-apps-niri-cursorSize: 24;
  --visualglitch91-apps-niri-layoutGaps: 16;
  --visualglitch91-apps-niri-layoutFocusRingWidth: 2;
  --visualglitch91-apps-niri-layoutFocusRingColorStart: #a4ffff;
  --visualglitch91-apps-niri-layoutFocusRingColorEnd: #69ff94;
  --visualglitch91-apps-niri-windowCornerRadius: 0;
  --visualglitch91-apps-ulauncher-fontFamily: Fira Mono;
  --visualglitch91-apps-ulauncher-borderRadius: 0;
  --visualglitch91-apps-ulauncher-borderWidth: 2;
  --visualglitch91-apps-vivaldi-background: #1C1D26;
  --visualglitch91-apps-vivaldi-accent: #e06c75;
  --visualglitch91-apps-vivaldi-highlight: #639898;
  --visualglitch91-apps-mako-fontSize: 13;
  --visualglitch91-apps-mako-borderSize: 2;
  --visualglitch91-apps-mako-borderRadius: 0;
  --visualglitch91-apps-waybar-fontSize: 13;
  --visualglitch91-apps-waybar-laptopFontSize: 14;
  --visualglitch91-apps-kitty-fontSize: 12;
  --visualglitch91-apps-kitty-backgroundOpacity: 0.9;
}