{
  "manifest_version": "1",
  "name": "wal",
  "display_name": "Wal",
  "extend_theme": "dark",
  "css_file": "theme.css",
  "css_file_gtk_3.20+": "theme-gtk-3.20.css",
  "matched_text_hl_colors": {
    "when_selected": "{{colors.primary}}",
    "when_not_selected": "{{colors.primary}}"
  }
}
