@font-family: "Fira Mono";
@font-size: 13px;
@laptop-font-size: 14px;
@bg-color: rgba(68, 71, 90, 0.7);
@text-color: #f8f8f2;
@waybar-margin: 0.6rem;
@module-spacing: 0.6rem;
@module-padding: 1.2rem;
@border-radius: 1.2rem;
