environment {
    COLOR_SCHEME "{{color_scheme}}"
    GTK_THEME "{{gtk_theme}}"
    ICON_THEME "{{icon_theme}}"
    ELECTRON_OZONE_PLATFORM_HINT "wayland"
    {{#environment}}
    {{0}} "{{1}}"
    {{/environment}}
}

cursor {
    xcursor-theme "{{cursor_theme}}"
    xcursor-size {{cursor_size}}
}

input {
    keyboard {
        xkb {
            layout "{{keyboard_layout}}"
            options "caps:super"
        }
    }

    touchpad {
        tap
        natural-scroll
        scroll-factor 1.0
    }

    focus-follows-mouse max-scroll-amount="0%"
}

layout {
    gaps {{layout_gaps}}
    center-focused-column "on-overflow"
    always-center-single-column

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    focus-ring {
        width {{layout_focus_ring_width}}
        active-gradient from="{{layout_focus_ring_color_start}}" to="{{layout_focus_ring_color_end}}" angle=45
    }

    border { off; }
}



output "eDP-1" {
    {{#external_display_connected}}off{{/external_display_connected}}
    scale 1
}

{{#output_scale}}
output "{{0}}" {
    scale {{1}}
}
{{/output_scale}}


animations {}

binds {
    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // Power and Session
    Mod+Shift+E { quit; }

    {{#binds}}
    {{0}} { {{1}}; }
    {{/binds}}
}

prefer-no-csd

{{#startup}}
spawn-at-startup "{{.}}"
{{/startup}}

hotkey-overlay {
    skip-at-startup
}

window-rule {
    match is-focused=false
    opacity 0.3
    
    shadow {
        on
        inactive-color "#1D1D1FF0"
        spread 0
        softness 0
        offset x=0 y=0
        draw-behind-window true
    } 
}

window-rule {
    match app-id="kitty" is-focused=false
    shadow {
        inactive-color "#1D1D1FCC"
    }
}

window-rule {
    geometry-corner-radius {{window_corner_radius}}
    clip-to-geometry true
}

{{#window_rules}}
window-rule {
    {{.}}
}
{{/window_rules}}