simplified_ui true
show_startup_tips false

theme "{{ apps.zellij.theme }}"

keybinds clear-defaults=true {
    normal {
        bind "Ctrl b" { SwitchToMode "tab"; }
        bind "Ctrl Tab" { GoToNextTab; }
        bind "Ctrl Shift Tab" { GoToPreviousTab; }
    }
 
    tab {
        bind "Esc" {SwitchToMode "normal"; }

        bind "left" {
            GoToPreviousTab
            SwitchToMode "normal"
        }
        
        bind "right" {
            GoToNextTab
            SwitchToMode "normal"
        }
        
        bind "x" {
            CloseTab
            SwitchToMode "normal"
        }
        
        bind "n" {
            NewTab
            SwitchToMode "normal"
        }
    }
}

ui {
    pane_frames {
        hide_session_name true
    }
}