# Font settings
font_family {{fonts.mono}}
font_size {{apps.ghostty.font_size}}

# Background settings
background_opacity {{apps.ghostty.background_opacity}}

# Window padding
window_padding_width 8

# Colors
background {{colors.background}}
foreground {{colors.text}}
cursor_color {{colors.text}}
cursor_text {{colors.background}}
selection_background #44475a
selection_foreground #ffffff

# Palette (colors)
color0 #21222c
color1 #ff5555
color2 #50fa7b
color3 #f1fa8c
color4 #bd93f9
color5 #ff79c6
color6 #8be9fd
color7 {{colors.text}}
color8 #6272a4
color9 #ff6e6e
color10 #69ff94
color11 #ffffa5
color12 #d6acff
color13 #ff92df
color14 #a4ffff
color15 #ffffff

# Keybinds
map ctrl+tab unbind
map ctrl+shift+tab unbind
