[includeIf "gitdir:~/Development/visualglitch91/"]
    path = ~/Development/visualglitch91/.gitconfig

[includeIf "gitdir:~/Development/{{ secrets.username }}/"]
    path = ~/Development/{{ secrets.username }}/.gitconfig

[includeIf "gitdir:~/Development/{{ secrets.company }}/"]
    path = ~/Development/{{ secrets.company }}/.gitconfig
[init]
	defaultBranch = main
