anchor=top-right
font={{fontFamily}} {{apps.mako.fontSize}}
background-color={{colors.background}}F0
text-color={{colors.text}}
width=500
height=600
max-history=10
outer-margin=10,18,0,0
margin=0,0,15,0
padding=12
border-size={{apps.mako.borderSize}}
border-color={{colors.accent}}
border-radius={{apps.mako.borderRadius}}
default-timeout=20000
group-by=none
icons=0

[grouped]
format=<b>%s</b>\n%b

# makoctl reload // Load last config
# makoctl restore // Load last notify